name: CI
on:
  pull_request:
    branches:
      - master
env:
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
  TF_VAR_access_token: ${{secrets.GIT_HUB_SECRET}}
jobs:
  code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - name: Install dependencies
        run: npm i
      - name: Check lint
        run: npm run lint:test
      - name: Check types
        run: npm run typecheck
      - name: Running tests
        run: npm run test:coverage
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.2.0"
      - name: Terraform init
        run: terraform init
      - name: Terraform Validate
        run: terraform validate
